/*
 * Author: Igor Gabriel Bezerra Bernardon, John Ko
 * Date: 10/30/2023
 * Class: CSC 337
 * Instructor: Benjamin Dicken
 *
 * Description: This file is responsible for styling the client
 * side of the OSTAA website.
*/

.Labels {
    margin-top: 10px;
    margin-bottom: 10px;    
}

.Inputs {
    margin-top: 10px;
    margin-bottom: 10px;
}

#userForm {
    margin-bottom: 40px;
}

